* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 90vw;
  display: grid;
  justify-content: center;
  
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px))
}
nav {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
nav svg {
  height: 36px;
}

nav svg:hover {
  scale: 1.1;
  cursor:pointer;
  color: hsl(0, 0%, 50%);
}

.gallery_card {
/* outline: 1px solid red; */
background-color: white;
border-radius: 8px;
counter-reset: section;
}

.gallery_card:hover {
  background-color: hsl(0, 0%, 90%);
  cursor:pointer;
  }

.gallery_card h3 {
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  color: hsl(0, 0%, 25%);
  vertical-align: middle;
}

.gallery_card span {
  padding-right: 0.5rem;
  color: hsl(220, 40%, 40%);
  font-weight: 600;
  font-size: 1.5rem;
}

.gallery_img {
  /* outline: 1px solid blue; */
  height: 200px;
  object-position: center;
}
.gallery_card img {
  height: inherit;
  object-fit: contain;
  opacity: 0.5;
  object-position: -50px;
}